.staff-dashboard-title {
    color: #1A1A1A;
    font-family: Urbanist;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: -0.939px;
    text-align:center;

}
.staff-dashboard-buttons-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.staff-dashboard-button{
    width: 400px;
    height: 300px;
    border-radius: 40px;
    background: rgba(254, 254, 254, 0.10);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #1A1A1A;
    font-family: Urbanist;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.361px;
}
.staff-dashboard-button-icon{
    padding-top: 30px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 30px;
}

/* Tablet styles - 1600px width and below */
@media only screen and (max-width: 1600px) {
    .staff-dashboard-buttons-row {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Mobile styles - 1200px width and below */
@media only screen and (max-width: 1200px) {
    .staff-dashboard-buttons-row {
        grid-template-columns: 1fr 1fr;
    }
}

/* Mobile styles - 768px width and below */
@media only screen and (max-width: 768px) {
    .staff-dashboard-buttons-row {
        grid-template-columns: 1fr;
    }
}
