.login {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.login .div {
    background-color: #ffffff;
    height: 1024px;
    overflow: hidden;
    position: relative;
    width: 1440px;
}

.login .background-for-tbl {
    height: 1024px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1440px;
}

.login .group {
    background-size: 100% 100%;
    height: 1024px;
    left: -40455px;
    position: absolute;
    top: -5257px;
    width: 1440px;
}

.login .overlap {
    height: 479px;
    left: 433px;
    position: relative;
    top: 440px;
    width: 903px;
}

.login .rectangle {
    height: 477px;
    left: 7px;
    position: absolute;
    top: 2px;
    width: 896px;
}

.login .img {
    height: 479px;
    left: 0;
    position: absolute;
    top: 0;
    width: 590px;
}

.login .email-form {
    height: 99px;
    left: 99px;
    position: absolute;
    top: 170px;
    width: 363px;
}

.login .password-form {
    height: 99px;
    left: 98px;
    position: absolute;
    top: 266px;
    width: 364px;
}

.login .headline {
    height: 65px;
    left: 112px;
    position: absolute;
    top: 80px;
    width: 337px;
}

.login .headline-2 {
    height: 81px;
    left: 613px;
    position: absolute;
    top: 80px;
    width: 276px;
}

.login .group-wrapper {
    height: 57px;
    left: 199px;
    position: absolute;
    top: 376px;
    width: 161px;
}

.login .overlap-group-wrapper {
    height: 57px;
    width: 163px;
}

.login .overlap-group {
    border-radius: 6px;
    height: 57px;
    position: relative;
    width: 161px;
}

.login .elements-buttons-big-simple {
    height: 57px !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 161px !important;
}


.login .submit {
    height: 19px;
    left: 37px;
    position: absolute;
    top: 19px;
    width: 88px;
}
