/* buyer-manage component styles */
.buyer-manage {
  display: flex;
  flex-direction: row;
}
  
.buyer-manage-data {
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 50px;
  border-radius: 15px;
  border: 2px solid #D2D2D2;
}
  
.buyer-manage-data-title {
  font-family: Urbanist;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: -0.578px;
  text-align: left;
}

.buyer-manage-data-table {
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;
  width: 100%;
}
  
.buyer-manage-data-table-head {
  color: #1A1A1A;
  font-family: Inter;
  font-size: 20px;
  font-style: bold;
}
  
.buyer-manage-data-table-body {
  padding-left:50px;
  color: #767676;
  font-family: Inter;
  font-size: 20px;
  font-style: bold;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.289px;
}
.buyer-manage-data-table-button {
  color: #FEFEFE;
  font-family: Urbanist;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.325px;
  background-color: #5925DC;
  border-radius: 3px;
  border: 1px solid #5925DC;
}
  
.buyer-manage-form {
  margin-left: 100px;
  margin-top: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  border-radius: 15px;
  border: 2px solid #D2D2D2;
}
  
.buyer-manage-form-title {
  font-family: Urbanist;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: -0.578px;
  text-align: left;
  padding-left: 50px;
}
  
.highlight{
  color: green !important;
}

  .buyer-manage-form-input {
    margin-left: 50px;
    border-radius: 6px;
    border: 1px solid #ededed;
    background: #EDEDED;
    height: 50px;
    width: 86%;
    margin-bottom: 20px;
    color: #767676;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.289px;
  }
  
  .buyer-manage-form-button {
      
    color: #FEFEFE;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.289px;
    width: 331px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #5925DC;
    background: #5925DC;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 200px;
  }
  
  .buyer-manage-form-input-checkbox {
    margin-left: 50px;
    width: 16px;
    height: 16px;
  }
  
  .buyer-manage-form-input-checkbox-label {
    color: #1A1A1A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Urbanist;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.289px;
  }
  
.pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.pagination-container li{
    padding: 10px;
    border: 1px solid #5925DC;
    border-radius: 3px;
    color: #fff;
    font-family: Urbanist;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.325px;
    background-color: #5925DC;
    margin: 5px;
}
.pagination-container li:hover{
    cursor: pointer;
}
.pagination-container .active{
    background-color: #767676;
    color: #fff;
}
.pagination-container .disabled{
    color: #ada9a9;
    cursor: not-allowed;
}

/* Styles for tablets */
@media only screen and (max-width: 768px) {
  .buyer-manage {
    display: flex;
    flex-direction: column;
  }
  .buyer-manage-data,
  .buyer-manage-form {
    margin: 50px;
    width: 100%;
  }

  .buyer-manage-data {
    margin-right: 0; /* Reset margin for tablets */
  }
}

/* Styles for laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .buyer-manage {
    display: flex;
    flex-direction: column;
  }
  .buyer-manage-data,
  .buyer-manage-form {
    margin: 50px;
    width: 100%;
  }
}

/* Styles for desktops */
@media only screen and (min-width: 1025px) {
  .buyer-manage-data,
  .buyer-manage-form {
    margin: 100px 50px;
    width: 100%;
  }
}
